body {
    background: #2c2c2c;
}
aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2,5%;
    height: 100vh;
    color: #fff;
    border-right: 5x solid #4d4d4d;
}

aside img{
    width: 80px;
    float: left;
}

aside .logo {
    font-size: 30px;
    margin-right: 30px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3 {
    margin-left: 25px;
    margin-top: 50px;
    font-size: 30px;
}
aside ul * {list-style: none}
aside li * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    list-style: none;
    line-height: 1;
}
li a {
    color: #fff;
    text-decoration: none;
}
li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 50px;
    transition: all 0.3s ease;
}

li i {
    font-size: 24px;
    margin-right: 10px;
    color: #fff;
    transition: all 0.3s ease;
}

li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

li:hover {
    transform: scale(1.05);
}

li:hover i {
    color: purple;
    transform: scale(1.2);
    }

li:hover a {
    color: purple;
}


