body {
    background: #2c2c2c;
}
aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2,5%;
    height: 100vh;
    color: #fff;
    border-right: 5x solid #4d4d4d;
}

aside img{
    width: 80px;
    float: left;
}

aside .logo {
    font-size: 30px;
    margin-right: 30px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3 {
    margin-left: 25px;
    margin-top: 50px;
    font-size: 30px;
}
aside ul * {list-style: none}
aside li * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    list-style: none;
    line-height: 1;
}
aside li a {
    color: #fff;
    text-decoration: none;
}
aside li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 50px;
    transition: transform 0.3s ease;
}

aside li i {
    font-size: 24px;
    margin-right: 10px;
    color: #fff;
    transition: transform 0.3s ease;
}

aside li a {
    color: #fff;
    text-decoration: none;
    transition: transform 0.3s ease;
}

aside li:hover {
    transform: scale(1.05);
}

aside li:hover i {
    color: #FFB30D;
    transform: scale(1.2);
    }

aside li:hover a {
    color: #FFB30D;
}
main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto}

.btn-#FFB30D {
    background-color: #FFB30D;
    color: white;
    border-color: #FFB30D;
}

.btn-#FFB30D:hover {
    background-color: darkpurple;
    border-color: darkpurple;
}

.alert-warning {
    float: left;
    width: calc(33.33% - 20px); /* Распределение ячеек по горизонтали на 3 колонки */
    margin: 20px 10px; /* Внешний отступ для разделения элементов */
    text-align: left;
    /* Другие стили по вашему усмотрению */
}

/* Очистка для разделения элементов на новую строку */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

main img{
    width: 300px;
    float: right;
    margin: 20px 20px;
}
.about-box {
    color: white;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}
.education-box {
    color: white;
    float: left;
    margin-top: 100px;
}

.education-box h2 {
    margin: 0; /* Убирает отступы вокруг заголовка */
}

.education-box ul {
    list-style: none;
    color: white;
    padding: 0; /* Убирает внутренний отступ у списка */
    margin: 0; /* Убирает внешний отступ у списка */
}
